@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about-section slide-in">
    <h2>About Me</h2>
    <p>Hello! I'm Rucha, a passionate Developer, Designer, and Freelancer. I specialize in building modern, responsive web applications using .NET and other cool technologies!</p>
</div>